*.pyc
*.swp
sim/webots/worlds/*
*.gbr
*.drl
*.gbrjob
*.zip
*-cache
*-table
*.bak
_autosave*
firmware/hal/stm32cube_f407/Debug/*
hardware/breakout/#auto_saved_files#
hardware/tmr_and_isr/tmr_and_isr/footprints/
hardware/tmr_and_isr/tmr_and_isr/tmr_and_isr.csv
hardware/tmr_and_isr/tmr_and_isr/tmr_and_isr.xml

sim/config/Webots-*.conf
.ipynb_checkpoints/
